name: Test Docker image

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - name: Build the Docker image
        run: docker run -i $(docker build -q .) /bin/sh -c "firefox --version && node --version && firefox -headless -screenshot https://github.com"
